<div class="container">
    <h2>Criar Novo Item</h2>

    <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Título</mat-label>
            <input matInput formControlName="title" required>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="description" required></textarea>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Imagem (URL)</mat-label>
            <input matInput formControlName="image" required (input)="onImageUrlChange()">
        </mat-form-field>

        <!-- Pré-visualização da Imagem -->
        <div *ngIf="imagePreview" class="image-preview-container">
            <h4>Prévia da imagem</h4>
            <img [src]="imagePreview" alt="Imagem do item" class="image-preview" />
        </div>

        <div class="buttons">
            <button mat-raised-button color="primary" type="submit" [disabled]="createForm.invalid || isLoading">
                <span *ngIf="!isLoading">Salvar</span>
                <span *ngIf="isLoading">Salvando...</span>
            </button>
            <button mat-raised-button color="warn" type="button" (click)="cancel()" [disabled]="isLoading">
                Cancelar
            </button>
        </div>
        </form>
        </div>