<div class="container">
    <!-- Cabeçalho moderno -->
    <div class="header">
        <h2>Lista de Itens</h2>
        <div class="header-content">
            <!-- Filtro de pesquisa -->
            <div class="filter-container">
                <mat-form-field appearance="fill" style="margin-bottom: -1.25em">
                    <mat-label>Pesquisar</mat-label>
                    <input matInput [(ngModel)]="filterValue" (ngModelChange)="applyFilter()">
                    <mat-icon matPrefix>search</mat-icon>
                </mat-form-field>
            </div>

            <button mat-raised-button color="accent" [routerLink]="['/create']">
                <mat-icon>add</mat-icon> Novo Item
            </button>
            </div>
    </div>

    <!-- Lista de itens -->
    <mat-grid-list [cols]="cols" gutterSize="16px" *ngIf="filteredItems.length > 0; else emptyState">
        <mat-grid-tile *ngFor="let item of getPagedItems()" class="grid-tile">
            <mat-card class="item-card">
                <div class="image-container">
                    <img mat-card-image [src]="item.image" alt="Imagem do item" />
                </div>
                <mat-card-content class="card-content">
                    <h3 class="item-title">{{ item.title }}</h3>
                    <p class="item-description">{{ item.description }}</p>
                </mat-card-content>
                <mat-card-actions align="end">
                    <button mat-icon-button color="primary" [routerLink]="['/edit', item._id]" matTooltip="Editar">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteItem(item._id)" matTooltip="Remover">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- Paginação -->
    <mat-paginator [length]="filteredItems.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
        (page)="onPageChanged($event)">
    </mat-paginator>

    <!-- Estado vazio caso não haja itens -->
    <ng-template #emptyState>
        <div class="empty-state">
            <mat-icon>inventory_2</mat-icon>
            <p>Nenhum item encontrado.</p>
        </div>
    </ng-template>
</div>