<app-layout>
    <h1>Lista de Itens</h1>

    <!-- SEARCH -->
    <div class="search-container">
        <mat-form-field appearance="outline" class="search-field">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput placeholder="Pesquisar por nome ou descrição" [(ngModel)]="filterValue"
                (ngModelChange)="applyFilter()">
        </mat-form-field>
    </div>

    <!-- CARDS -->
    <div class="items-grid">
        <mat-card class="item-card" *ngFor="let item of getPagedItems()">
            <div class="image-container">
                <img mat-card-image [src]="item.image" alt="Imagem do item" />
            </div>
            <mat-card-content class="card-content">
                <h3 class="item-title">{{ item.title }}</h3>
                <p class="item-description">{{ item.description }}</p>
            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-icon-button color="primary" [routerLink]="['/edit', item._id]" matTooltip="Editar">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="deleteItem(item._id)" matTooltip="Remover">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>

    <!-- Paginação -->
    <mat-paginator [length]="filteredItems.length" [pageSize]="pageSize" [pageIndex]="pageIndex"
        (page)="onPageChanged($event)">
    </mat-paginator>
</app-layout>
